#navbarSupportedContent {
  margin: auto;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;

}

footer{
    background-color: black;
}

.coryright{
    color : white;
}

#footer{
    height : 100px;
}

